.cards-medalhas-container{
    margin: 15em 0 8em 0;
    display: flex;
    gap: 7em;
}
.cards-medalhas-container .cards-medalhas{
    text-align: center;
}

.cards-medalhas-container .cards-medalhas .cards-titulo-medalhas{
    padding: 1.2em 0;
}
.cards-medalhas-container .cards-medalhas:nth-child(2){
    margin-top: -5em;
}
.cards-medalhas-container .cards-medalhas .cards-icone-medalhas i{
    font-size: 7rem;
    margin-bottom: 0.4em;
}

.cards-medalhas-container .cards-medalhas .cards-paragrafo-medalhas i{
    padding: 0 0 1em 0;
    font-size: 1.4em;
    color: var(--cor-ouro);
}

.titulo-quem-somos{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: "UNB-BOLD";
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.texto-quem-somos{
    font-size: 1.5rem;
    text-align: center;
}