@media (max-width: 1600px){
    .titulo-first-section input{
        font-size: 1.7rem;
    }    
    
}    

@media (max-width: 1400px){

    .header .nav-links .registro{
        margin-left: 1em;
    }    

    .titulo-first-section{
        font-size: 3rem;
    }    

    .titulo-first-section input{
        padding: 2% 3%;
        font-size: 1.5rem;
        width: 90%;
    }    

}

@media (max-width: 1266px){
    .cards .textos-cards p strong{
        font-size: 1.3rem;
    }
    .cards .textos-cards p{
        font-size: 0.7rem;
    }
}

@media (max-width: 1200px){
    .header .nav-links a{
        display: none;
    }

    .header .nav-links .nav-mobile a{
        display: flex;
    }

    .titulo-first-section{
        font-size: 2rem;
    }  

    .nav-mobile img{
        width: 80px;
        height: 80px;
    }

}

@media (max-width: 1000px){
    .container-first-section{
        display: flex;
        flex-direction: column;
    }

    .image-first-section{
        display: none;
    }

    .titulo-first-section h1{
        font-size: 5rem;
        width: 100%;
        margin-top: 100px;
        text-align: center;
        text-wrap: wrap;
    }

    .titulo-first-section input{
        width: 100%;
        font-size: 2rem;
    }

    .cards-container{
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
    }

    .cards{
        padding: 0;
    }
}

@media (max-width: 800px){
    .main-perfil .center .main-perfil-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2em;
    }
    .second-section-perfil .informacoes-pessoal-usuarios{
        width: 100%;
    }

    .second-section-perfil .informacoes-pessoal-usuarios .botoes-footer{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    .second-section-perfil .informacoes-pessoal-usuarios .botoes-footer a{
        width: 100%;
        text-align: center;
        margin: 1em 0;
    }

    .textos-informacoes-pessoal-usuarios{
        text-align: center;
    }

    .first-section-perfil, .second-section-perfil{
        width: 100vw;
    }

    .main-editar-perfil .center{
        margin: auto 5%;
    }

    .confirmar-informacoes h2{
        text-align: center;
    }

}


@media (max-width: 700px){

    .cards-medalhas-container{
        flex-direction: column;
        gap: 15em;
    }

    .titulo-first-section input{
        font-size: 1.5rem;
    }

    .third-section .third-section__img img{
        width: 70%;
        padding: 1em 0;
    }
    .third-section .third-section__img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center{
        margin: 0 auto;
    }
}

@media (max-width: 600px){

    .footer{
        width: 100%;
    }


    .duvidas {
        justify-content: center;
        align-items: center;
    }

    .duvidas-contatos{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-nav{
        height: 90px;
    }

    .titulo-first-section h1{
        font-size: 2.1em;
    }

    .fa-user{
        font-size: 2em;
    }
    .cards-container{
        align-items: center;
        flex-direction: column;
    }

    .cards{
        width: 100%;
    }

    .cards .textos-cards p strong{
        font-size: 1em;
    }
    .cards .textos-cards p{
        padding: 0 1em 2em 1em;
        font-size: 1.5em;
    }

    .login form .input-container input{
        padding: 0.4em 1em 0.4em 0.7em;
    }
    .cadastro form .input-container input{
        padding: 0.4em 1em 0.4em 0.7em;
    }

    .main-editar-perfil .main-editar-perfil-container{
        padding: 2em 1em;
    }
}

@media (max-width: 450px){
    .titulo-first-section h1{
        font-size: 1.5em;
    }

    .titulo-first-section input{
        font-size: 1rem;
    }

}



