.titulo-second-section h2{
    font-size: 4rem;
    font-weight: bold;
    font-family: "UNB-BOLD";
    display: flex;
    justify-content: center;
}

.timeline-second-section{
    background-image: url(../../img/Timeline.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 15em;
}

.second-section .textos-up-second-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10em;
}

.second-section .textos-up-second-section p{
    width: 20em;
    margin-bottom: 2em;
}


.second-section .textos-up-second-section p:nth-child(1){
    margin-left: 0.5%;
}