.pergunta__main {
    height: 130px;
    background-color: var(--cor-principal);
}

.pergunta__header {
    background-color: #A318FF;
    display: flex;
    align-items: center;
    height: 100%;
}

.pergunta__logo {
    width: 18em;
    background-repeat: no-repeat;
    height: 4em;
    margin-top: -20px;
    cursor: pointer;
    margin-left: -0.19em;
}

.barra__pesquisa {
    border-radius: 85px;
    font-weight: bold;
    background-color: #fff;
    outline: none;
    border: none;
    height: 3.2em;
    width: 40em;
    margin-left: 4.5em;
    margin-right: 16em;
    font-size: 1.1em;
    padding-left: 2em;
}

.pergunta {
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(163,24,255,1) 100%);
    height: 86vh;
    padding-top: 4em;
}

.container {
    background-color: rgba(214, 214, 214, 0.5);
    border-radius: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2em;
}

.container__enviar {
    background-color: rgba(214, 214, 214, 0.6);
    border-radius: 18px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.container__escrever__pergunta {
    background-color: #d9d9d9;
    border-radius: 39px;
    outline: none;
    border: none;
    width: 100%;
    max-width: 73.8em;
    height: 24em;
    display: flex;
    margin-bottom: 1em;
}

.escrever__pergunta {
    background-color: #d9d9d9;
    outline: none;
    border: none;
    border-radius: 39px;
    width: 100%;
    height: 18em;
    padding: 1.1em;
    font-size: 1.6em;
    resize: none;
}

.container__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 73.8em;
}

.container__container label {
    cursor: pointer;
}

.add__foto {
    border-radius: 20px;
    background-color: #d9d9d9;
    height: 4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.add__foto img {
    width: 2.2em;
}

.enviar button {
    border-radius: 20px;
    height: 2.7em;
    width: 13em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    background-color: #B543FF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.enviar button:hover {
    background-color: #8c33cc;
}
