.pergunta__main{
    height: 14vh;
    background-color: var(--cor-principal);
}
.pergunta__header{
    background-color: #A318FF;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.pergunta__logo{
    width: 15vw;
    background-repeat: no-repeat;
    height: 6.4vh;
    cursor: pointer;
    margin-top: -25px;
    margin-left: -0.19em;
}
.barra__pesquisa{
    border-radius: 85px;
    font-weight: bold;
    background-color: #fff;
    outline: none;
    border: none;
    height: 5.3vh;
    width: 33.333vw;
    margin-left: -10em;
    font-size: 1.1rem;
    padding-left: 2em;
}
.pergunta{
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(163,24,255,1) 100%);
    height: 86vh;
    padding-top: 4em;
}
.container{
    background-color: rgba(214, 214, 214, .5);
    border-radius: 20px;
    height: 70vh;
    width: 74vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__enviar{
    background-color: rgba(214, 214, 214, .6);
    border-radius: 18px;
    width: 65vw;
    height: 58vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container__escrever__pergunta{
    background-color: #d9d9d9;
    border-radius: 39px;
    outline: none;
    border: none;
    width: 60vw;
    height: 38.4vh;
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-top: 2.5em;
}
.container__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    height: 27vh;
}

.enviar a{
    border-radius: 20px;
    height: 6vh;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    margin-left: 11.2em;
    background-color: #B543FF;
    color: #fff;
}
.add__foto{
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 1em;
}
.foto{
    background-color: #d9d9d9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__enviar .add__foto img{
    width: 1.833vw;
}
.escrever__pergunta{
    background-color: #d9d9d9;
    outline: none;
    border: none;
    border-radius: 39px;
    width: 60vw;
    height: 38.4vh;
    display: flex;
    padding-top: 1.1em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    font-size: 1.6rem;
    display: block;
    resize:none;
}
/* RESPONSIVIDADE */
@media (max-width: 1650px) {
    .enviar a{
        font-size: 1.2rem;
    }
}
@media (max-width: 1400px) {
    .enviar a{
        font-size: 1rem;
    }
    .pergunta__logo{
        display: none;
    }
}