.pergunta__main{
    height: 14vh;
    background-color: var(--cor-principal);
}
.pergunta__header{
    background-color: #A318FF;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.pergunta__logo{
    width: 15vw;
    background-repeat: no-repeat;
    height: 6.4vh;
    cursor: pointer;
    margin-top: -25px;
    margin-left: -0.19em;
}
/* .pergunta__logo .logo__principal{
    display: none;
} */
.logo__minimizada{
    display: none;
    width: 7vw;
}

.perfil__pergunta img{
    width: 4vw;
}
.barra__pesquisa{
    border-radius: 85px;
    font-weight: bold;
    background-color: #fff;
    outline: none;
    border: none;
    height: 5.3vh;
    width: 33.333vw;
    margin-left: -10em;
    font-size: 1.1rem;
    padding-left: 2em;
}
.pergunta{
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(163,24,255,1) 100%);
    height: 86vh;
    padding-top: 4em;
}
.container{
    background-color: rgba(214, 214, 214, .5);
    border-radius: 20px;
    height: 70vh;
    width: 74vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__enviar{
    background-color: rgba(214, 214, 214, .6);
    border-radius: 18px;
    width: 65vw;
    height: 58vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container__escrever__pergunta{
    background-color: #d9d9d9;
    border-radius: 39px;
    outline: none;
    border: none;
    width: 60vw;
    height: 38.4vh;
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-top: 2.5em;
}
.container__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    height: 27vh;
}

.enviar a{
    border-radius: 20px;
    height: 6vh;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    margin-left: 11.2em;
    background-color: #B543FF;
    color: #fff;
}
.add__foto{
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 1em;
}
.foto{
    background-color: #d9d9d9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__enviar .add__foto img{
    width: 1.833vw;
}
.escrever__pergunta{
    background-color: #d9d9d9;
    outline: none;
    border: none;
    border-radius: 39px;
    width: 60vw;
    height: 38.4vh;
    display: flex;
    padding-top: 1.1em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    font-size: 1.6rem;
    display: block;
    resize:none;
}
/* RESPONSIVIDADE */
/* @media (max-width: 1650px) {
    .enviar a{
        font-size: 1.2rem;
    }
}
@media (max-width: 1600px) {
.pergunta__logo .logo__principal{
    display: none;
}
.logo__minimizada{
display: block;
margin-top: 1em;
    
}
}
@media (max-width: 1400px) {
    .enviar a{
        font-size: 1rem;
    }

}
@media (max-width: 1150px) {
    .enviar a{
        font-size: 0.8rem;
    }
}
@media(max-width:1000px){
    .pergunta__header{
        padding-left: 5em;
        padding-right: 5em;
    }
    .logo__minimizada{
        margin-top: 1em;
    }
    .pergunta{
        padding-left: 5em;
    }
    .perfil__pergunta{
        padding-right: -1em;
    }
    .barra__pesquisa{
        margin-right: 1em;
    }
    .enviar a{
        font-size: 0.6rem;
    }
    .perfil__pergunta img{
        width: 6vw;
    }
}
@media (max-width:850px) {
    .barra__pesquisa{
        display: none;
    }

} */

/* @media (max-width:450px) {
    .logo__minimizada{
        width: 20vw;
        margin-left: -6em;
    }
    .perfil__pergunta{
        margin-top:0.7em ;
        margin-right: -5em;
    }
    .perfil__pergunta img{
        width: 15vw;

    }
} */
