.cadastro__container{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(163,24,255,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro{
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    padding: 2em;
}

.cadastro form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastro form h1{
    margin-bottom: 20px;
}

.cadastro form .input-container input{
    font-size: 1.2rem;
    outline: none;
    border: none;
    padding: 0.4em 9em 0.4em 0.7em;
    background-color: transparent;
    
}

.input-container-senha, .input-container-email{
    margin: 2em 0 1em 0;
   border-radius: 5px;
   background-color: rgba(255,255,255,0.2);
}

.input-container-email{
    display: flex;
    flex-direction: column;
}

.botoes-container-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.botoes-container-cadastro .cadastro__criar{
    background-color: var(--cor-principal);
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.7em 0;
    font-size: 1.3rem;
    border-radius: 7px;
    margin: 1em 0;
}

.botoes-container-cadastro p a{
    color: var(--cor-principal);
}

.input-container-senha #olho1, #olho2{
    color: rgba(0,0,0,0.7);
    padding-right: 0.3em;
    cursor: pointer;
    font-size: 1.2rem;
}

.teste{
    color: red;
}