<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <p>Entre com:</p>
    <!--
    Botão para login com Google. Descomentá-lo quando a rota "/auth/google" estiver implementada.
    <button onclick="window.location.href='/auth/google'">Entrar com Google</button>
    -->
    <br><br>

    <form action="/login" method="POST">
        <label for="email">Email:</label>
        <br>
        <input type="email" id="email" name="email" required>
        <br><br>

        <label for="password">Senha:</label>
        <br>
        <input type="password" id="password" name="password" required>
        <br><br>

        <button type="submit">Entrar</button>
    </form>

    <p>Não é usuario? <a href="{{ url_for('cadastro') }}" class="btn">Cadastre-se</a></p>
</body>
</html>

