*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
    font-family: "UNB";
}

@font-face {
    font-family: "UNB";
    src: url(UnB-Office_Regular.ttf);
}
@font-face {
    font-family: "UNB-BOLD";
    src: url(UnB-Office_Bold.ttf);
}

:root{
    --cor-principal: #A318FF;
}