@import url(pagina_principal/header_pagina_principal.css);
@import url(pagina_principal/first-section-pagina-principal.css);
@import url(pagina_principal/second-section-pagina-principal.css);
@import url(pagina_principal/third-section-pagina-principal.css);
@import url(pagina_principal/fourth-second-pagina-principal.css);
@import url(pagina_principal/footer-pagina-principal.css);
@import url(pagina_principal/media-queries-pagina-principal.css);
@import url(pagina_perfil/pagina-perfil.css);
@import url(editar_pagina_perfil/editar_pagina_perfil.css);

:root{
    --cor-principal: #A318FF;
    --cor-ouro: #FFD700;
    --cor-prata: #C0C0C0;
    --cor-bronze :#CD7F32;
}
.center{
    margin: 0 13%;
    height: 100%;
}

@media (max-width: 1000px){
    .center{
        margin: 0 6%;
    }
}

@font-face {
    font-family: "UNB";
    src: url(../font/UnB-Office_Regular.ttf);
}
@font-face {
    font-family: "UNB-BOLD";
    src: url(../font/UnB-Office_Bold.ttf);
}
