<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <script>
        function validatePassword() {
            const password = document.getElementById('password').value;
            const pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{6,}$/;
            if (!pattern.test(password)) {
                alert('A senha deve conter pelo menos 6 caracteres, incluindo uma letra maiúscula, uma letra minúscula e um número.');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h1>Cadastro</h1>

    <p>Entre com:</p>
    <button onclick="window.location.href='/auth/google'">Entrar com Google</button>
    <br><br>

    <form action="/register" method="POST" onsubmit="return validatePassword()">
        <label for="username">Nome de Usuário:</label>
        <br>
        <input type="text" id="username" name="username" required>
        <br><br>

        <label for="email">Email:</label>
        <br>
        <input type="email" id="email" name="email" required>
        <br><br>

        <label for="password">Senha:</label>
        <br>
        <input type="password" id="password" name="password" required>
        <br><br>

        <label for="confirm_password">Repetir Senha:</label>
        <br>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <br><br>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>