
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/pagina_cadastro/pagina-de-cadastro.css">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ec4ddeaf59.js" crossorigin="anonymous"></script>
    <title>UnAjuda - Cadastro</title>
</head>
<body>
    <main class="main__cadastro">
        <div class="cadastro__container">
            <div class="cadastro">
                <form action="/cadastro" method="POST" onsubmit="return validatePassword()">
                    <h1>Criar conta</h1>
                    <div class="input-container">
                        <div class="input-container-email">

                            <input class="cadastro__cadastro" type="text" id="username" name="username" required placeholder="Nome de Usuário">

                        </div><!--input-container-email-->
                        <div class="input-container-email">

                            <input class="cadastro__cadastro" type="email" id="email" name="email" required placeholder="123456789@aluno.unb.br">
                        </div><!--input-container-email-->
                        
                        <div class="input-container-senha">

                            <input class="cadastro__cadastro" type="password" id="password" name="password" required placeholder="Senha"><i class="fa-eye fa-regular" id="olho1"></i>
                        </div><!--input-container-senha-->
                        <div class="input-container-senha">

                        <div class="input-container-senha" id="input-container-senha">
                            <input class="cadastro__cadastro" type="password" id="confirm_password" name="confirm_password" required placeholder="Confirmar Senha"><i class="fa-eye fa-regular" id="olho2"></i>
                        </div><!--input-container-senha-->
                        

                    </div><!--input-container-->
                    <div class="botoes-container-cadastro">
                        <a class="cadastro__criar" href="cadastro">CRIAR CONTA</a>
                        <p>Já possui uma conta? <a href="login.html" class="btn"> Entrar</a></p>
                        <a class="cadastro__criar" href="cadastro" onclick="verificarDominioEmail(), confirmarSenhaUsuario()">CRIAR CONTA</a>
                        <p>Já possui uma conta? <a href="/login" class="btn"> Entrar</a></p>
                    </div><!--botoes-container-cadastro-->
            </div>
        </div>
        </form>
    </main>
        
    <script>
        const passwordField = document.getElementById('password');
        const passwordField02 = document.getElementById('confirm_password');
        const confirmPasswordField = document.getElementById('confirm_password');
        const olhoMostrarSenha01 = document.getElementById('olho1');
        const olhoMostrarSenha02 = document.getElementById('olho2');

        confirmPasswordField.addEventListener('selectionchange', function(){

            if(passwordField.value != '' && confirmPasswordField.value != ''){
                if(passwordField.value == confirmPasswordField.value){

                    document.querySelector('#input-container-senha').style.border = '1px solid green'
                }else{
                    document.querySelector('#input-container-senha').style.border = '1px solid red'
                }
            }else{
            }
        })

        function validatePassword() {
            const password = passwordField.value;
            const valid = password.length >= 6 &&
                /[a-z]/.test(password) &&
                /[A-Z]/.test(password) &&
                /\d/.test(password);
            passwordField.setCustomValidity(valid ? '' : 'A senha deve conter pelo menos 6 caracteres, incluindo uma letra maiúscula, uma letra minúscula e um número.');
            return valid;
        }

        olhoMostrarSenha01.addEventListener('click', function() {
            if(passwordField.type == 'text'){
                passwordField.type = 'password';
            }else{
                passwordField.type = 'text'
            }
        });
        olhoMostrarSenha02.addEventListener('click', function() {
            if(passwordField02.type == 'text'){
                passwordField02.type = 'password';
            }else{
                passwordField02.type = 'text'
            }
        });
        if(confirmPasswordField.type == 'text'){
            confirmPasswordField.type = 'password';
        }else{
            confirmPasswordField.type = 'text'
        }
    
    function verificarDominioEmail(){
        const verificarEmailUnB = document.querySelector('#email').value;
        const botaoCriarConta = document.querySelector('.cadastro__criar');
        const dominioEmail = verificarEmailUnB.split('@');
        const verificarNumerosDoEmail = /[0-9]/g;
        const verificarUsuarioEmail = verificarNumerosDoEmail.test(dominioEmail[0])

        if(verificarUsuarioEmail == true){
            
            if(dominioEmail[1] == "aluno.unb.br" || dominioEmail[1] == "unb.br"){
                // email do usuario verificado, tudo correto!
            }else{
            // utilize o email @aluno.unb.br ou @unb.br
            }
        }else{
            // o email deve ser no formato 123456789@aluno.unb.br ou 123456789@unb.br
        }
    }
    </script>
</body>
</html>
