<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="https://kit.fontawesome.com/ec4ddeaf59.js" crossorigin="anonymous"></script>
    <title>UnAjuda</title>
    <link rel="shortcut icon" href="../static/img/Logo_minimizada.svg">
</head>
<body>
    <main class="main-editar-perfil">
        <div class="center">

            <div class="main-editar-perfil-logo">
                <a href="pagina-principal.html"><img src="../static/img/Logo_principal.svg" alt=""></a>
            </div><!--main-editar-perfil-logo-->
            
            <div class="main-editar-perfil-container">
                <div class="editar-informacoes">
                    <h2>Editar perfil</h2>
                    <img class="img-editar-perfil" src="../static/img/avatar-default-icon-2048x2048-h6w375ur.png" alt=""> 
                    <div class="editar-arquivo-perfil">

                        <input type="file" id="editar-foto-perfil-usuario">
                        <button id="label-editar-arquivo-foto-perfil">
                            <i class="fa-solid fa-pen"></i>
                            Selecione um arquivo
                        </button>
                    </div><!--editar-arquivo-perfil--> 
                    <div class="inputs-editar-perfil">

                        <input type="text" placeholder="Nome do úsuario">
                        <input type="text" placeholder="Faculdade">
                        <input type="text" placeholder="Curso">
                        <input type="text" placeholder="Nova senha">
                        <input type="text" placeholder="Confirmar nova senha">
                        <input type="text" placeholder="Telefone">
                    </div><!--inputs-editar-perfil-->
                </div><!--editar-informacoes-->

                <div class="confirmar-informacoes">
                    <h2>Para salvar suas alterações, digite a sua senha</h2>
                    <input type="text" placeholder="Senha atual" required>
                    <input type="text" placeholder="confirmar senha atual" required>

                    <button class="salvar-alteracoes">Salvar alterações</button>
                </div><!--confirmar-informacoes-->
            </div><!--main-editar-perfil-container-->
        </div><!--center-->

        
    </main><!--main-perfil-->

    <script src="../static/app/enviar_foto_perfil.js"></script>
</body>
</html>