<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/pagina_login/pagina-de-login.css">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnAjuda - Login</title>
</head>
<body>
    <main class="main__login">
        <div class="login__container">
            <div class="login">  
                <form action="/login" method="POST">
                    <h1>LOGIN</h1>
                    <br>
                        <input class="login__login" type="email" id="email" name="email" required placeholder="Email">
                        <br><br>
                        <br>
                        <input class="login__login" type="password" id="password" name="password" required placeholder="Senha">
                        <br>
                        <div class="login__lembrar">
                            <input type="checkbox" name="lembrar" id="lembrar"><label for="lembrar"> Lembrar-me</label>
                        </div>
                        <br><br>
                    <div>
                        <a class="login__entrar" href="">ENTRAR</a>
                    </div>
                    <br>
                        <a class="login__esqueceu" href=" ">Esqueceu sua senha? </a>
                </form>
            </div>
            <div class="cadastro">
                <h1>Não possui uma conta?</h1>
                <a href="cadastro.html" class="btn">Criar conta</a>
            </div>
        </div>
    </main>
</body>
</html>

