<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/pagina_pesquisa/pagina-pesquisa.css">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnAjuda - Pesquisas</title>
    <link rel="shortcut icon" href="../static/img/Logo_minimizada.svg">
</head>
<body>
    <main class="pesquisa__main">
        <div class="center">
            <div class="pesquisa__header">
                <div class="pesquisa__logo">
                    <a href="pagina-principal.html"><img src="../static/img/Logo_minimizada.svg" alt=""></a>
                </div><!--logo-->
                <div>
                    <input class="barra__pesquisa" type="text" value="" placeholder="Digite a sua dúvida">
                </div>
                <div class="nav-links">
                    <div class="nav-mobile">
                        <a href="/login"><i class="fa-regular fa-user"></i></a>
                    </div><!--nav-mobile-->
                    <a href="/login" class="pesquisa__login">LOGIN</a>
                    <a href="/cadastro" class="pesquisa__registro">REGISTRE-SE</a>
                    <a class="perfil" href="../templates/pagina-perfil.html"></a>
                </div><!--nav-links-->
            </div><!--header-->
        </div><!--centralizar a página-->
    </main>


    <section class="pesquisa">
        <div class="center">
            <div class="container__pergunta">
                <div class="caixa__pergunta">
                    <h2>PERGUNTA 01</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lorem non quam consequat scelerisque gravida at turpis.
                         Donec blandit auctor nibh. Sed maximus tortor nec dolor pulvinar feugiat.
                          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                          Praesent ullamcorper dolor sed nunc imperdiet commodo. Phasellus pretium malesuada imperdiet.
                           Donec faucibus odio nec eros pulvinar, porttitor porta ipsum imperdiet. Mauris ut quam in dolor pharetra blandit non et purus. 
                        Nullam congue ipsum vitae ipsum 
                    </p>
                </div>
                <div class="caixa__pergunta">
                    <h2>PERGUNTA 02</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lorem non quam consequat scelerisque gravida at turpis.
                         Donec blandit auctor nibh. Sed maximus tortor nec dolor pulvinar feugiat.
                          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                          Praesent ullamcorper dolor sed nunc imperdiet commodo. Phasellus pretium malesuada imperdiet.
                           Donec faucibus odio nec eros pulvinar, porttitor porta ipsum imperdiet. Mauris ut quam in dolor pharetra blandit non et purus. 
                        Nullam congue ipsum vitae ipsum 
                    </p>
                </div>
                <div class="caixa__pergunta">
                    <h2>PERGUNTA 03</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lorem non quam consequat scelerisque gravida at turpis.
                         Donec blandit auctor nibh. Sed maximus tortor nec dolor pulvinar feugiat.
                          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                          Praesent ullamcorper dolor sed nunc imperdiet commodo. Phasellus pretium malesuada imperdiet.
                           Donec faucibus odio nec eros pulvinar, porttitor porta ipsum imperdiet. Mauris ut quam in dolor pharetra blandit non et purus. 
                        Nullam congue ipsum vitae ipsum 
                    </p>
                </div>
                <div class="caixa__pergunta">
                    <h2>PERGUNTA 04</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lorem non quam consequat scelerisque gravida at turpis.
                         Donec blandit auctor nibh. Sed maximus tortor nec dolor pulvinar feugiat.
                          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                          Praesent ullamcorper dolor sed nunc imperdiet commodo. Phasellus pretium malesuada imperdiet.
                           Donec faucibus odio nec eros pulvinar, porttitor porta ipsum imperdiet. Mauris ut quam in dolor pharetra blandit non et purus. 
                        Nullam congue ipsum vitae ipsum 
                    </p>
                </div>
                <div class="caixa__pergunta">
                    <h2>PERGUNTA 05</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lorem non quam consequat scelerisque gravida at turpis.
                         Donec blandit auctor nibh. Sed maximus tortor nec dolor pulvinar feugiat.
                          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                          Praesent ullamcorper dolor sed nunc imperdiet commodo. Phasellus pretium malesuada imperdiet.
                           Donec faucibus odio nec eros pulvinar, porttitor porta ipsum imperdiet. Mauris ut quam in dolor pharetra blandit non et purus. 
                        Nullam congue ipsum vitae ipsum 
                    </p>
                </div>
                <p class="mostrar">MOSTRAR MAIS</p>
            </div>
        </div>


    </section>
    <footer class="footer">
        <div class="center">
            <div class="duvidas-contatos">
                <div class="contatos">

                    <h2>CONTATOS</h2>
                    <p><i class="fa-brands fa-whatsapp"></i>(00) 00000 - 0000</p>
                    <p><i class="fa-regular fa-envelope"></i>UnAjuda@gmail.com</p>
                </div><!--contatos-->
                <div class="duvidas">
                    <h2>AJUDA</h2>
                    <a href="#">Dúvidas frequentes</a>
                    <a href="#">Como usar</a>
                </div><!--duvidas-->
            </div><!--duvidas-contatos-->
            <div class="direitos">
                <p>CopyRight <i class="fa-regular fa-copyright"></i> 2024 - All Rights Reseverd - Desenvolvido por equipe UnAjuda</p>
            </div><!--direitos-->

        </div><!--center-->
    </footer><!--footer-->
</body>
</html>