<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/pagina_resposta/pagina_resposta.css">
    <link rel="stylesheet" href="../static/style/pagina_pesquisa/pagina-pesquisa.css">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnAjuda - Resposta</title>
</head>
<body>
    <main class="pesquisa__main">
        <div class="center">
            <div class="pesquisa__header">
                <div class="pesquisa__logo">
                    <a href="pagina-principal.html"><img src="../static/img/Logo_principal.svg" alt=""></a>
                </div><!--logo-->
                <div>
                    <input class="barra__pesquisa" type="text" value="" placeholder="Digite a sua dúvida">
                </div>
                <div class="nav-links">
                    <div class="nav-mobile">
                        <a href="/login"><i class="fa-regular fa-user"></i></a>
                    </div><!--nav-mobile-->
                    <a href="/login" class="pesquisa__login">LOGIN</a>
                    <a href="/cadastro" class="pesquisa__registro">REGISTRE-SE</a>
                    <a class="perfil" href="../templates/pagina-perfil.html"></a>
                </div><!--nav-links-->
            </div><!--header-->
        </div><!--centralizar a página-->
    </main>
    <section class="resposta">
        <div class="center">
            <div class="resposta__container">
                <div class="pergunta">
                    <div class="pergunta__cabecalho">
                        <a class="pergunta__perfil" href="#"><img src="../static/img/Group 22.svg" alt="">NOME DO USUÁRIO</a>
                        <!-- <p href="#">NOME DO USUÁRIO</p> -->
                    </div>
                    <p class="pergunta__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lorem non quam consequat scelerisque gravida at turpis. 
                        Donec blandit auctor nibh. Sed maximus tortor nec dolor pulvinar feugiat.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Praesent ullamcorper dolor sed nunc imperdiet commodo. Phasellus pretium malesuada imperdiet. 
                        Donec faucibus odio nec eros pulvinar, porttitor porta ipsum imperdiet. Mauris ut quam in dolor pharetra blandit non et purus.
                        Nullam congue ipsum vitae ipsum </p>
                    <img class="pergunta__img" src="../static/img/Group 23.svg" alt="">
                    <textarea name="" id="" placeholder="DIGITE A RESPOSTA"></textarea>
                </div>
                <div class="pergunta">
                    <div class="pergunta__cabecalho">
                        <a class="pergunta__perfil" href="#"><img src="../static/img/Group 22.svg" alt="">NOME DO USUÁRIO</a>
                        <!-- <p href="#">NOME DO USUÁRIO</p> -->
                    </div>
                    <p class="pergunta__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lorem non quam consequat scelerisque gravida at turpis. 
                        Donec blandit auctor nibh. Sed maximus tortor nec dolor pulvinar feugiat.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Praesent ullamcorper dolor sed nunc imperdiet commodo. Phasellus pretium malesuada imperdiet. 
                        Donec faucibus odio nec eros pulvinar, porttitor porta ipsum imperdiet. Mauris ut quam in dolor pharetra blandit non et purus.
                        Nullam congue ipsum vitae ipsum </p>
                    <div class="denuncia">
                        <a href="#"><img src="../static/img/Denuncia.svg" alt="">DENUNCIAR RESPOSTA</a>
                    </div>
                    <textarea name="" id="" placeholder="ADIOCIONE UM COMENTÁRIO"></textarea>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="center">
            <div class="duvidas-contatos">
                <div class="contatos">

                    <h2>CONTATOS</h2>
                    <p><i class="fa-brands fa-whatsapp"></i>(00) 00000 - 0000</p>
                    <p><i class="fa-regular fa-envelope"></i>UnAjuda@gmail.com</p>
                </div><!--contatos-->
                <div class="duvidas">
                    <h2>AJUDA</h2>
                    <a href="#">Dúvidas frequentes</a>
                    <a href="#">Como usar</a>
                </div><!--duvidas-->
            </div><!--duvidas-contatos-->
            <div class="direitos">
                <p>CopyRight <i class="fa-regular fa-copyright"></i> 2024 - All Rights Reseverd - Desenvolvido por equipe UnAjuda</p>
            </div><!--direitos-->

        </div><!--center-->
    </footer><!--footer-->
</body>
</html>