<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="https://kit.fontawesome.com/ec4ddeaf59.js" crossorigin="anonymous"></script>
    <title>UnAjuda</title>
</head>
<body>

    <main class="main-perfil">
        <div class="center">

            <div class="main-perfil-logo">
                <a href="/"><img src="../static/img/Logo_principal.svg" alt=""></a>
            </div><!--main-perfil-logo-->

            <div class="main-perfil-container">

                <section class="first-section-perfil">
            
                    <div class="perfil-container">
                        <div class="informacoes-usuarios">
                            <div class="foto-perfil">
                                <img src="../static/img/avatar-default-icon-2048x2048-h6w375ur.png" alt=""> 
                            </div>
                            
                            <p id="nome-usuario">nome usuario</p>
                            <p id="faculdade-usuario">faculdade do usuario</p>
                            <p id="curso-semestre-usuario">curso do usuario</p>
                        </div><!--informacoes-usuraio-->
                    </div><!--perfil-container-->
                </section><!--first-section-perfil-->
        
                <section class="second-section-perfil">
                    <textarea placeholder="Escreva algo sobre você"></textarea>
                    <div class="informacoes-pessoal-usuarios">
                        <div class="textos-informacoes-pessoal-usuarios">
                            <p id="email-usuario">123456789@aluno.unb.br</p>
                            <p id="senha-usuario">123456789</p>
                            <p id="telefone-usuario">(00) 00000-0000</p>
                        </div><!--textos-informacoes-pessoal-usuarios-->
                        <div class="botoes-footer">
                            <a href="/"><i class="fa-solid fa-chevron-left"></i>Voltar</a>
                            <a href="/editar-perfil">Editar informações</a>
                        </div><!--botoes-footer-->
                    </div><!--informacoes-pessoal-usuarios-->
                </section><!--section-section-perfil-->
            </div><!--main-perfil-container-->
        </div><!--center-->

        
    </main><!--main-perfil-->
    
</body>
</html>