<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/pagina_pesquisa/pagina-pesquisa.css">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnAjuda - Pesquisas</title>
</head>
<body>
    <main class="pesquisa__main">
        <div class="center">
            <div class="pesquisa__header">
                <div class="pesquisa__logo">
                    <a href="pagina-principal.html"><img src="../static/img/Logo_principal.svg" alt=""></a>
                </div><!--logo-->
                <div>
                    <input class="barra__pesquisa" type="text" id="campoPesquisa" value="" placeholder="Digite a sua dúvida">
                </div>
                <div class="nav-links">
                    <div class="nav-mobile">
                        <a href="/login"><i class="fa-regular fa-user"></i></a>
                    </div><!--nav-mobile-->
                    <a href="/login" class="pesquisa__login">LOGIN</a>
                    <a href="/cadastro" class="pesquisa__registro">REGISTRE-SE</a>
                    <a class="perfil" href="../templates/pagina-perfil.html"></a>
                </div><!--nav-links-->
            </div><!--header-->
        </div><!--centralizar a página-->
    </main>


    <section class="pesquisa">
        <div class="center">
            <div class="container__pergunta">
                {% if perguntas %}
                    {% for pergunta in perguntas %}
                    <div class="caixa__pergunta">
                        <h2>{{ pergunta.nome_usuario }}</h2>
                        <p>{{ pergunta.pergunta }}</p>
                    </div>
                    {% endfor %}
                {% else %}
                    <h2>Não há mais perguntas disponíveis.</h2>
                {% endif %}
            </div>
        </div>
    </section>
    
    <footer class="footer">
        <div class="center">
            <div class="duvidas-contatos">
                <div class="contatos">

                    <h2>CONTATOS</h2>
                    <p><i class="fa-brands fa-whatsapp"></i>(00) 00000 - 0000</p>
                    <p><i class="fa-regular fa-envelope"></i>UnAjuda@gmail.com</p>
                </div><!--contatos-->
                <div class="duvidas">
                    <h2>AJUDA</h2>
                    <a href="#">Dúvidas frequentes</a>
                    <a href="#">Como usar</a>
                </div><!--duvidas-->
            </div><!--duvidas-contatos-->
            <div class="direitos">
                <p>CopyRight <i class="fa-regular fa-copyright"></i> 2024 - All Rights Reseverd - Desenvolvido por equipe UnAjuda</p>
            </div><!--direitos-->

        </div><!--center-->
    </footer><!--footer-->

    <script>
        // Verifique se a pergunta foi salva no localStorage
        const perguntaSalva = localStorage.getItem('pergunta');
        if (perguntaSalva) {
            // Preencha o campo de pesquisa com o valor salvo
            const campoPesquisa = document.getElementById('campoPesquisa');
            campoPesquisa.value = perguntaSalva;
        }
    </script>
</body>
</html>