<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/reset.css"><!--resetar as configs de fabrica do navegador-->
    <link rel="stylesheet" href="../static/style/style.css"><!--style-->
    <script src="https://kit.fontawesome.com/ec4ddeaf59.js" crossorigin="anonymous"></script>
    <title>UnAjuda</title>
</head>
<body>
    
    <nav class="main-nav">
    <div class="center">
        <div class="header">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <div class="logo"></div><!--logo-->

            <div class="nav-links">
                <div class="nav-mobile">
                    <a href="/login"><i class="fa-regular fa-user"></i></a>
                </div><!--nav-mobile-->
                <a href="/login" class="login-header-btn">LOGIN</a>
                <a href="/cadastro" class="registro-header-btn">REGISTRE-SE</a>
                <a class="perfil" href="#">"Perfil"</a>
            </div><!--nav-links-->
        </div><!--header-->
    </div><!--centralizar a página-->
    </nav>


    <section class="first-section">
        <div class="center">

            <div class="container-first-section">
                <div class="titulo-first-section">
                    <h1 id="titulo_principal">Descubra Respostas com a Comunidade UnAjuda</h1>
                    <input type="text" value="" placeholder="Digite a sua dúvida">
                </div><!--titulo-first-section-->

                <div class="image-first-section">
                    <img src="../static/img/imagem_animada_graduacao.svg" alt="">
                </div><!--image-first-section-->
            </div><!--container-first-section-->
        </div><!--center-->
    </section><!--first-section-->

    <section class="second-section">
        <div class="center">
            <div class="titulo-second-section">
                <h2>Como funciona o UnAjuda</h2>
            </div><!--titulo-second-section-->
            <div class="cards-container">
                <div class="cards">
                    <div class="img-cards img01-cards">
                        <img src="../static/img/questions-animate.svg" alt="">
                    </div><!--img-cards-->
                    <div class="textos-cards">
                        
                        <p><strong>PERGUNTE</strong> <br><br>Faça sua pergunta com detalhes e obtenha respostas de nossa comunidade de especialistas.</p>
                    </div><!--textos-cards-->
                </div><!--cards-->
                <div class="cards">
                    <div class="img-cards img02-cards">
                        <img src="../static/img/Aprenda_imagem.svg" alt="">
                    </div><!--img-cards-->
                    <div class="textos-cards">
                        
                        
                        <p><strong>APRENDA</strong><br><br>Explore as respostas da comunidade e aprimore seu aprendizado.</p>
                    </div><!--textos-cards-->
                </div><!--cards-->
                <div class="cards">
                    <div class="img-cards img03-cards">
                        <img src="../static/img/Responsive-rafiki.svg" alt="">
                    </div><!--img-cards-->
                    <div class="textos-cards">
                        
                        <p><strong>RESPONDA</strong> <br><br>Compartilhe seus conhecimentos respondendo perguntas de outros usuários.</p>
                        
                    </div><!--textos-cards-->
                </div><!--cards-->

            </div>
        </div><!--center-->
    </section><!--second-section-->

    <section class="third-section">
        <div class="center">


            <div class="third-section__img">
                <img src="../static/img/Setinha_01.svg" alt="">              
                <img src="../static/img/Setinha_02.svg" alt="">                
                <img src="../static/img/Setinha_03.svg" alt="">              
                <img src="../static/img/Setinha_04.svg" alt="">              
            </div><!--third-section__img-->

        </div><!--center-->

    </section><!--third-section-->


    <section class="fourth-section">
        <div class="center">
            <div class="cards-medalhas-container">

                <div class="cards-medalhas">
                    <div class="cards-icone-medalhas">
    
                        <i class="fa-solid fa-medal" style="color: var(--cor-prata);"></i>
                    </div><!--cards-icone-medalhas-->
    
                    <div class="cards-texto-medalhas">
                        <div class="cards-titulo-medalhas">
                            <h2>Respostas dos monitores</h2>
                        </div><!--cards-titulo-medalhas-->
                        <div class="cards-paragrafo-medalhas">
                            <p>Vestibulum quis placerat arcu. Etiam convallis libero erat. Donec quis turpis tellus. Phasellus nec interdum nisl, et dapibus elit. Etiam eget elit congue massa effici</p>
                        </div><!--cards-paragrafo-medalhas-->
                    </div><!--cards-texto-medalhas-->
                </div><!--cards-medalhas-->

                <div class="cards-medalhas">
                    <div class="cards-icone-medalhas">
    
                        <i class="fa-solid fa-medal" style="color: var(--cor-ouro);"></i>
                    </div><!--cards-icone-medalhas-->
    
                    <div class="cards-texto-medalhas">
                        <div class="cards-titulo-medalhas">
                            <h2>Respostas dos professores</h2>
                        </div><!--cards-titulo-medalhas-->
                        <div class="cards-paragrafo-medalhas">
                            <p>Vestibulum quis placerat arcu. Etiam convallis libero erat. Donec quis turpis tellus. Phasellus nec interdum nisl, et dapibus elit. Etiam eget elit congue massa effici</p>
                        </div><!--cards-paragrafo-medalhas-->
                    </div><!--cards-texto-medalhas-->
                </div><!--cards-medalhas-->

                <div class="cards-medalhas">
                    <div class="cards-icone-medalhas">
    
                        <i class="fa-solid fa-medal" style="color: var(--cor-bronze);"></i>
                    </div><!--cards-icone-medalhas-->
    
                    <div class="cards-texto-medalhas">
                        <div class="cards-titulo-medalhas">
                            <h2>Respostas mais avaliadas</h2>
                        </div><!--cards-titulo-medalhas-->
                        <div class="cards-paragrafo-medalhas">
                            <p>Vestibulum quis placerat arcu. Etiam convallis libero erat. Donec quis turpis tellus. Phasellus nec interdum nisl, et dapibus elit. Etiam eget elit congue massa effici</p>
                        </div><!--cards-paragrafo-medalhas-->
                    </div><!--cards-texto-medalhas-->
                </div><!--cards-medalhas-->
            </div><!--cards-medalhas-container-->


        </div><!--center-->

    </section><!--fourth-section-->

    <section class="quem-somos">
        <div class="center">

            <div class="titulo-quem-somos">
                <h2>Quem somos</h2>
            </div><!--titulo-quem-somos-->
            <div class="texto-quem-somos">
                <p>Nós, estudantes da Universidade de Brasília - Campus Gama, motivados pela paixão pela tecnologia, desenvolvemos este site com o objetivo de expandir nossos conhecimentos. Através desta plataforma, buscamos criar um espaço de apoio acadêmico, onde os alunos possam encontrar materiais e recursos que ajudem a esclarecer suas dúvidas e a aprimorar seu aprendizado.</p>
            </div>
        </div><!--center-->
    </section><!--quem-somos-->


    <footer class="footer">
        <div class="center">
            <div class="duvidas-contatos">
                <div class="contatos">

                    <h2>CONTATOS</h2>
                    <p><i class="fa-brands fa-whatsapp"></i>(00) 00000 - 0000</p>
                    <p><i class="fa-regular fa-envelope"></i>UnAjuda@gmail.com</p>
                </div><!--contatos-->
                <div class="duvidas">
                    <h2>AJUDA</h2>
                    <a href="#">Dúvidas frequentes</a>
                    <a href="#">Como usar</a>
                </div><!--duvidas-->
            </div><!--duvidas-contatos-->
            <div class="direitos">
                <p>CopyRight <i class="fa-regular fa-copyright"></i> 2024 - All Rights Reseverd - Desenvolvido por equipe UnAjuda</p>
            </div><!--direitos-->

        </div><!--center-->
    </footer><!--footer-->


    <script src="../static/app/animacao_digitacao.js"></script>
    <script>
        setTimeout(function() {
            const flashMessages = document.querySelectorAll('.alert');
            flashMessages.forEach(function(message) {
                message.remove();
            });
        }, 3000);
    </script>
</body>
</html>