<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/pagina_pesquisa/pagina-pesquisa.css">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnAjuda - Pesquisas</title>
</head>
<body>
    <main class="pesquisa__main">
        <div class="center">
            <div class="pesquisa__header">
                <div class="pesquisa__logo">
                    <a href="/"><img src="../static/img/Logo_minimizada.svg" alt=""></a>
                </div><!--logo-->
                <div>
                    <!-- Campo de pesquisa com envio -->
                    <form action="/pesquisa" method="get">
                        <input class="barra__pesquisa" type="search" id="buscarPerguntas" name="query" value="{{ request.args.get('query', '') }}" placeholder="Digite a sua dúvida">
                    </form>
                </div>
                <div class="nav-links">
                    <div class="nav-mobile">
                        {% if not session.get('logado') %}
                            <a href="/login"><i class="fa-regular fa-user"></i></a>
                        {% endif %}
                    </div><!--nav-mobile-->

                    {% if not session.get('logado') %}
                        <a href="/login" class="pesquisa__login">LOGIN</a>
                        <a href="/cadastro" class="pesquisa__registro">REGISTRE-SE</a>
                    {% else %}
                        <a class="perfil" href="../templates/pagina-perfil.html"></a>
                    {% endif %}
                </div><!--nav-links-->
            </div><!--header-->
        </div><!--centralizar a página-->
    </main>

    <section class="pesquisa">
        <div class="center">
            <div class="container__pergunta">
                <div class="ha__perguntas">
                {% if perguntas %}
                    {% for pergunta in perguntas %}

                        <div class="caixa__pergunta">
                            <h2>{{ pergunta.nome_usuario }}</h2>  <!-- Apenas o nome do usuário aqui -->
                            <p><a href="/resposta/{{ pergunta.id }}">{{ pergunta.pergunta }}</a></p> <!-- Link na pergunta -->
                        </div>
                        {% endfor %}
                    </div>

                    <div class="nao__ha__perguntas">
                {% else %}

                    <div class="caixa__pergunta2">
                        <h2>Não há perguntas disponíveis.</h2>
                        <a href="/pergunta" class="registro-header-btn">Adicionar Pergunta</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="center">
            <div class="duvidas-contatos">
                <div class="contatos">

                    <h2>CONTATOS</h2>
                    <p><i class="fa-brands fa-whatsapp"></i>(00) 00000 - 0000</p>
                    <p><i class="fa-regular fa-envelope"></i>UnAjuda@gmail.com</p>
                </div><!--contatos-->
                <div class="duvidas">
                    <h2>AJUDA</h2>
                    <a href="#">Dúvidas frequentes</a>
                    <a href="#">Como usar</a>
                </div><!--duvidas-->
            </div><!--duvidas-contatos-->
            <div class="direitos">
                <p>CopyRight <i class="fa-regular fa-copyright"></i> 2024 - All Rights Reserved - Desenvolvido por equipe UnAjuda</p>
            </div><!--direitos-->

        </div><!--center-->
    </footer><!--footer-->

    <script>
        // Verifique se a pergunta foi salva no localStorage
        const perguntaSalva = localStorage.getItem('pergunta');
        if (perguntaSalva) {
            // Preencha o campo de pesquisa com o valor salvo
            const campoPesquisa = document.getElementById('campoPesquisa');
            campoPesquisa.value = perguntaSalva;
        }
    </script>
    <script src="../static/app/animacao_digitacao.js"></script>
    <script src="../static/app/evento_pesquisa.js"></script>
    <script src="../static/app/retirar_mensagem.js"></script>
</body>
</html>
