<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>UnAjuda</title>
</head>
<body>

    <main class="main-perfil">

            <div class="main-perfil-logo">
                <a href="pagina-principal.html"><img src="../static/img/Logo_principal.svg" alt=""></a>
            </div><!--main-perfil-logo-->

            <div class="perfil-container">
                <div class="informacoes-usuarios">
                    <div class="foto-perfil">
                        <img src="" alt="">
                        <input type="file">
                    </div>
                </div>
            </div><!--perfil-container-->
        
    </main><!--main-perfil-->
    
</body>
</html>