<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/pagina_pergunta/pagina-pergunta.css">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnAjuda - Pergunta</title>
    <link rel="shortcut icon" href="../static/img/Logo_minimizada.svg">
</head>
<body>
    <main class="pergunta__main">
        <div class="center">
            <div class="pergunta__header">
                <div class="pergunta__logo">
                    <a href="pagina-principal.html"><img src="../static/img/Logo_principal.svg" alt=""></a>
                </div><!--logo-->
                <div>
                    <input class="barra__pesquisa" type="text" value="" placeholder="Digite a sua dúvida">
                </div>
                <div class="perfil__pergunta">
                    <a href="/templates/pagina-perfil.html"><img src="../static/img/Group 22.svg" alt=""></a>
                </div>
            </div><!--header-->
        </div><!--centralizar a página-->
    </main>
    <section class="pergunta">
        <div class="center">
            <div class="container">
                <div class="container__enviar">
                    <div class="container__escrever__pergunta" >
                        <textarea class="escrever__pergunta" id="" placeholder="DIGITE SUA PERGUNTA"></textarea>
                    </div>
                    <div class="container__container">
                        <div class="foto">
                            <a class="add__foto" href=" "><img src="../static/img/link-solid 1.svg" alt=""></a>
                        </div>
                        <div class="enviar">   
                            <a href=" " >ENVIAR PERGUNTA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
</body>
</html>