<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/reset.css"><!--resetar as configs de fabrica do navegador-->
    <link rel="stylesheet" href="../static/style/style.css"><!--style-->
    <script src="https://kit.fontawesome.com/ec4ddeaf59.js" crossorigin="anonymous"></script>
    <title>UnAjuda</title>
</head>
<body>
    
    <nav class="main-nav">
        <div class="center">
            <div class="header">
                <div class="logo"></div><!--logo-->

                <div class="nav-links">
                    <div class="nav-mobile">
                        <i class="fa-solid fa-bars"></i>
                    </div><!--nav-mobile-->
                    <a href="login.html" class="login">LOGIN</a>
                    <a href="cadastro.html" class="registro">REGISTRE-SE</a>
                    <a class="perfil" href="#">"Perfil"</a>

                </div><!--nav-links-->
            </div><!--header-->
        </div><!--centralizar a página-->
    </nav><!--nav-main-->

    <section class="first-section">
        <div class="center">

            <div class="container-first-section">
                <div class="titulo-first-section">
                    <h1 id="titulo_principal">Descubra Respostas com a Comunidade UnAjuda</h1>
                    <input type="text" value="" placeholder="Digite a sua dúvida">
                </div><!--titulo-first-section-->

                <div class="image-first-section">
                    <img src="../static/img/imagem_animada_graduacao.svg" alt="">
                </div><!--image-first-section-->
            </div><!--container-first-section-->
        </div><!--center-->
    </section><!--first-section-->

    <section class="second-section">
        <div class="center">
            <div class="titulo-second-section">
                <h2>Como funciona o UnAjuda</h2>
            </div><!--titulo-second-section-->
            <div class="cards-container">
                <div class="cards">
                    <div class="img-cards img01-cards"></div><!--img-cards-->
                    <div class="textos-cards">
                        
                        <p><strong>PERGUNTE</strong> <br><br>Faça sua pergunta com detalhes e obtenha respostas de nossa comunidade de especialistas.</p>
                    </div><!--textos-cards-->
                </div><!--cards-->
                <div class="cards">
                    <div class="img-cards img02-cards"></div><!--img-cards-->
                    <div class="textos-cards">
                        
                        
                        <p><strong>APRENDA</strong><br><br>Explore as respostas da comunidade e aprimore seu aprendizado.</p>
                    </div><!--textos-cards-->
                </div><!--cards-->
                <div class="cards">
                    <div class="img-cards img03-cards"></div><!--img-cards-->
                    <div class="textos-cards">
                        
                        <p><strong>RESPONDA</strong> <br><br>Compartilhe seus conhecimentos respondendo perguntas de outros usuários.</p>
                        
                    </div><!--textos-cards-->
                </div><!--cards-->

            </div>
        </div><!--center-->
    </section><!--second-section-->

    <section class="third-section">
        <div class="center">


            <div class="third-section__img" style="background-image: url(../static/img/Setinha_01.svg);"></div><!--third-section__img-->
            <div class="third-section__img " style="background-image: url(../static/img/Setinha_02.svg);"></div><!--third-section__img-->
            ESTOU MEXENDO
            <div class="third-section__img" style="background-image: url(../static/img/Setinha_03.svg);"></div><!--third-section__img-->
            <div class="third-section__img" style="background-image: url(../static/img/Setinha_04.svg);"></div><!--third-section__img-->

        </div><!--center-->

    </section><!--third-section-->


    <section class="fourth-section">
        <div class="center">
            <div class="image-fourth-section">

                <svg width="591" height="611" viewBox="0 0 591 611" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M394.023 205.57L294.61 5L195.198 205.57H394.023Z" stroke="#A318FF" stroke-width="4"/>
            <path d="M397.582 213.46H191.638L99.0903 407.412H490.13L397.582 213.46Z" stroke="#A318FF" stroke-width="4"/>
            <path d="M494.452 416.066H96.2935L4 609H587L494.452 416.066Z" stroke="#A318FF" stroke-width="4"/>
            <path d="M293.442 158V138.36L287.842 142.4V134.2L295.202 129.4H302.162V158H293.442Z" fill="black"/>
            <path d="M284.772 313V307.36C286.892 301.92 297.692 296.48 297.692 292.68C297.692 291.12 296.732 290.48 295.412 290.48C293.892 290.48 292.932 291.48 292.972 293.68L284.932 293C285.092 287.68 288.572 284 295.852 284C302.212 284 306.212 286.96 306.212 292.48C306.212 300.4 298.492 303.24 296.052 306.28H306.732V313H284.772Z" fill="black"/>
            <path d="M306.228 504.08C306.228 509.32 302.468 512.4 295.068 512.4C285.188 512.4 284.068 506.6 283.988 503.44L292.028 502.84C292.188 505.28 293.588 505.92 295.028 505.92C296.708 505.92 297.708 504.96 297.708 503.32C297.708 501.08 296.308 500.32 293.788 500.32H291.948V494.88H293.628C296.188 494.88 297.228 493.68 297.228 491.68C297.228 490.32 296.468 489.4 294.988 489.4C293.628 489.4 292.708 490.32 292.748 492.04L284.708 491.68C285.108 485.48 289.388 483 295.468 483C303.108 483 305.508 486.92 305.508 490.96C305.508 493.96 304.268 496.48 301.108 497.28C304.228 497.92 306.228 500.64 306.228 504.08Z" fill="black"/>
                </svg>

        <div class="text-fourth-section">
            <p style="margin-left: -200px; color:#0033FF;"><i class="fa-solid fa-certificate"></i>RESPOSTA DO PROFESSOR</p>
            <p style="margin: -50px 0px 0px -120px; color: #FF0000;"><i class="fa-solid fa-certificate"></i>RESPOSTA DOS MONITORES</p>
            <p style="margin: -10px 0px 0px -40px; color: var(--cor-principal);">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i style="color: var(--cor-principal);" class="fa-regular fa-star"></i>
                </i>

                RESPOSTA MELHOR AVALIADA
            </p>

        </div><!--text-fourth-section-->
            </div><!--image-fourth-section-->

        </div><!--center-->

    </section><!--fourth-section-->

    <section class="quem-somos">
        <div class="center">

            <div class="titulo-quem-somos">
                <h2>Quem somos</h2>
            </div><!--titulo-quem-somos-->
            <div class="texto-quem-somos">
                <p>Nós, estudantes da Universidade de Brasília - Campus Gama, motivados pela paixão pela tecnologia, desenvolvemos este site com o objetivo de expandir nossos conhecimentos. Através desta plataforma, buscamos criar um espaço de apoio acadêmico, onde os alunos possam encontrar materiais e recursos que ajudem a esclarecer suas dúvidas e a aprimorar seu aprendizado.</p>
            </div>
        </div><!--center-->
    </section><!--quem-somos-->


    <footer class="footer">
        <div class="center">
            <div class="duvidas-contatos">
                <div class="contatos">

                    <h2>CONTATOS</h2>
                    <p><i class="fa-brands fa-whatsapp"></i>(00) 00000 - 0000</p>
                    <p><i class="fa-regular fa-envelope"></i>UnAjuda@gmail.com</p>
                </div><!--contatos-->
                <div class="duvidas">
                    <h2>AJUDA</h2>
                    <a href="#">Dúvidas frequentes</a>
                    <a href="#">Como usar</a>
                </div><!--duvidas-->
            </div><!--duvidas-contatos-->
            <div class="direitos">
                <p>CopyRight <i class="fa-regular fa-copyright"></i> 2024 - All Rights Reseverd - Desenvolvido por equipe UnAjuda</p>
            </div><!--direitos-->

        </div><!--center-->
    </footer><!--footer-->


    <script src="../static/app/animacao_digitacao.js"></script>
</body>
</html>