<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>UnAjuda</title>
</head>
<body>

    <main class="main-perfil">
        <div class="center">

            <div class="main-perfil-logo">
                <a href="pagina-principal.html"><img src="../static/img/Logo_principal.svg" alt=""></a>
            </div><!--main-perfil-logo-->
            <div class="main-perfil-container">

                <section class="first-section-perfil">
        
            
                    <div class="perfil-container">
                        <div class="informacoes-usuarios">
                            <div class="foto-perfil">
                                <img src="" alt="">
                                <input type="file">
                            </div>
                            
                            <p id="nome-usuario">Nome do usuario</p>
                            <p id="faculdade-usuario">faculdade do usuario</p>
                            <p id="curso-semestre-usuario">curso do usuario</p>
                        </div><!--informacoes-usuraio-->
                    </div><!--perfil-container-->
                </section><!--first-section-perfil-->
        
                <section class="second-section-perfil">
                    <input type="text" placeholder="Escreva algo sobre você...">
                    <div class="informacoes-pessoal-usuarios">
                        <div class="textos-informacoes-pessoal-usuarios">
        
                        </div><!--textos-informacoes-pessoal-usuarios-->
        
                        <div class="editar-informacoes-pessoal-usuarios">
                            <p id="editar-email-usuario">Editar</p>
                            <p id="editar-senha-usuario">Editar</p>
                            <p id="editar-telefone-usuario">Editar</p>
                        </div><!--editar-informacoes-pessoal-usuarios-->
                    </div><!---->
                </section><!--section-section-perfil-->
            </div><!--main-perfil-container-->
        </div><!--center-->

        
    </main><!--main-perfil-->
    
</body>
</html>