<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/pagina_resposta/pagina_resposta.css">
    <link rel="stylesheet" href="../static/style/pagina_pesquisa/pagina-pesquisa.css">
    <link rel="stylesheet" href="../static/style/reset.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnAjuda - Resposta</title>
</head>
<body>
    <main class="pesquisa__main">
        <div class="center">
            <div class="pesquisa__header">
                <div class="pesquisa__logo">
                    <a href="/"><img src="../static/img/Logo_principal.svg" alt=""></a>
                </div><!--logo-->
                <div>
                    <input class="barra__pesquisa" type="text" value="" placeholder="Digite a sua dúvida">
                </div>
                <div class="nav-links">
                    <div class="nav-mobile">
                        <a href="/login"><i class="fa-regular fa-user"></i></a>
                    </div><!--nav-mobile-->
                    <a href="/login" class="pesquisa__login">LOGIN</a>
                    <a href="/cadastro" class="pesquisa__registro">REGISTRE-SE</a>
                    <a class="perfil" href="../templates/pagina-perfil.html"></a>
                </div><!--nav-links-->
            </div><!--header-->
        </div><!--centralizar a página-->
    </main>
    <section class="resposta">
    <div class="center">
        <div class="resposta__container">
            <div class="pergunta">
                <div class="pergunta__cabecalho">
                    <a class="pergunta__perfil" href="#">
                        <img src="../static/img/Group 22.svg" alt="">{{ pergunta.nome_usuario }}
                    </a>
                </div>
                <p class="pergunta__texto">{{ pergunta.pergunta }}</p>
                <img class="pergunta__img" src="../static/img/Group 23.svg" alt="">
                <textarea name="resposta" placeholder="DIGITE A RESPOSTA"></textarea>
            </div>

            {% if respostas %}
                {% for resposta in respostas %}
                <div class="pergunta">
                    <div class="pergunta__cabecalho">
                        <a class="pergunta__perfil" href="#">
                            <img src="../static/img/Group 22.svg" alt="">{{ resposta[1] }}
                        </a>
                    </div>
                    <p class="pergunta__texto">{{ resposta[0] }}</p>
                    <div class="denuncia">
                        <a href="#"><img src="../static/img/Denuncia.svg" alt="">DENUNCIAR RESPOSTA</a>
                    </div>
                    <textarea name="comentario" placeholder="ADICIONE UM COMENTÁRIO"></textarea>
                </div>
                {% endfor %}
            {% else %}
                <h3>Essa pergunta ainda não foi respondida.</h3>
            {% endif %}
        </div>
    </div>
    </section>


    <footer class="footer">
        <div class="center">
            <div class="duvidas-contatos">
                <div class="contatos">

                    <h2>CONTATOS</h2>
                    <p><i class="fa-brands fa-whatsapp"></i>(00) 00000 - 0000</p>
                    <p><i class="fa-regular fa-envelope"></i>UnAjuda@gmail.com</p>
                </div><!--contatos-->
                <div class="duvidas">
                    <h2>AJUDA</h2>
                    <a href="#">Dúvidas frequentes</a>
                    <a href="#">Como usar</a>
                </div><!--duvidas-->
            </div><!--duvidas-contatos-->
            <div class="direitos">
                <p>CopyRight <i class="fa-regular fa-copyright"></i> 2024 - All Rights Reseverd - Desenvolvido por equipe UnAjuda</p>
            </div><!--direitos-->

        </div><!--center-->
    </footer><!--footer-->

</body>
</html>